<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <h1>
        <a class="navbar-brand" href="{% url 'project-index' %}"><h1>Anna Shumilina</h1></a>
    </h1>
    <button type="button" class="navbar-toggler text-uppercase font-weight-bold text-white rounded" style="background-color: #4ac1f7"
            data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

      <div class="panel text-right">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'project-index' %}">Homepage</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Blog</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
          </div>
      </div>

  </div>
</nav>
{%block page_content%}
{%endblock%}

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1 text-right" style="padding-bottom: 20px">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Designed and developed by Anna Shumilina © 2022. All rights reserved</p>
  </div>
</footer>