<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">ITPROGER</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="text-left">test</p>
    <p class="text-center">test</p>
    <p class="text-right">test</p>
    <p class="text-justify">test</p>
    <p class="text-nowrap">test</p>

    <p class="text-uppercase">test</p>
    <p class="text-lowercase">test</p>
    <p class="text-capitalize">test</p>

    <p class="text-muted">test</p>
    <p class="text-primary">test</p>
    <p class="text-success">test</p>
    <p class="text-info">test</p>
    <p class="text-warning">test</p>
    <p class="text-danger">test</p>

    <p class="bg-primary">test</p>
    <p class="bg-success">test</p>
    <p class="bg-info">test</p>
    <p class="bg-warning">test</p>
    <p class="bg-danger">test</p>

    <blockquote class="blockquote-reverse">
        dhakghau;rghai
    </blockquote>

    <code>for</code>, <code>while</code>
    <div class="container">
    <pre>
  for (int i = 0; i<10; i++)
    print("Hi");
    </pre>
    </div>
</body>
</html>