<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
            <tr class="active">
                <th>name</th>
                <th>phone-number</th>
                <th>mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="success">Vas</td>
                <td>+134661</td>
                <td>vasya@mail</td>
            </tr>
            <tr>
                <td>Mish</td>
                <td>+134661</td>
                <td>vasya@mail</td>
            </tr>
            <tr>
                <td>Petr</td>
                <td>+134661</td>
                <td>vasya@mail</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th class="table-danger" scope="col">name</th>
                <th scope="col">phone-number</th>
                <th scope="col">mail</th>
            </tr>
        </thead>
        <<tbody class="table-group-divider">>
            <tr>
                <td class="success">Vas</td>
                <td>+134661</td>
                <td>vasya@mail</td>
            </tr>
            <tr>
                <td>Mish</td>
                <td>+134661</td>
                <td class="info">vasya@mail</td>
            </tr>
            <tr>
                <td>Petr</td>
                <td>+134661</td>
                <td class="danger">vasya@mail</td>
            </tr>
        </tbody>
    </table>
</body>
</html>